/********** BODY ***********/
:root {
  --primaryColor: #f5a623;
  --darkColor: #333333;
  --whiteColor: #ffffff;
  --greenColor: #219653;
  --redColor: #eb5757;
  --bodyColor: #f2f2f2;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  color: var(--textColor);
  background: var(--bodyColor);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100vh;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/********** TYPOGRAPHY ***********/
.text-md {
  font-size: 24px;
}
.text-xs {
  font-size: 14px;
  line-height: 28px;
}
.text-xxs {
  font-size: 12px;
}
.color-dark {
  color: var(--darkColor);
}
.color-dark--2 {
  color: #12122c;
}
.color-grey {
  color: #4f4f4f;
}
.color-green {
  color: var(--greenColor);
}
.color-grey--2 {
  color: #4a4a4a;
}
.color-grey--3 {
  color: #828282;
}
.color-primary {
  color: #f5a623;
}
.color-blue {
  color: lightskyblue;
}
.color-red {
  color: var(--redColor);
}
.text-semi--bold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-xbold {
  font-weight: 800;
}
.text-xlbold {
  font-weight: 900;
}
.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: 400;
}
.text-capitalize {
  text-transform: uppercase;
}
.text-italic {
  font-style: italic;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h6 {
  font-size: 18px;
  line-height: 21px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/********** CONTAINER LAYOUTS ***********/
.container {
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.column-100 {
  width: 100%;
}
/********** BUTTONS ***********/
button {
  outline: none;
  border: 0;
}
.disabled {
  opacity: 0.73;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}
.button--primary {
  font-size: 14px;
  line-height: 0.8;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
  background: var(--primaryColor);
  color: var(--whiteColor);
  height: 50px;
  transition: transform 0.6s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.button--secondary {
  background: var(--bodyColor);
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  width: 300px;
  max-width: 300px;
}
.button--primary:hover,
.button--primary--md:hover,
.button-round:hover {
  transform: translate3d(0px, -3px, 0px);
}

.button--primary--md {
  font-size: 12.2px;
  padding: 5px 14px !important;
  height: 36.6px;
  width: 206px;
  max-width: 206px;
  letter-spacing: 0.508366px;
  filter: drop-shadow(0px 1.01673px 1.01673px rgba(0, 0, 0, 0.5));
}

.button-round {
  background: var(--whiteColor);
  border-radius: 60px;
  height: 49px;
  padding: 13px 30px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.25);
  color: var(--darkColor);
  filter: drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.25));
}

.button-full--width {
  width: 100% !important;
}

.button-md--width {
  width: 348px !important;
  max-width: 348px;
}
.button-quantity--xs {
  background: var(--whiteColor);
  border-radius: 60px;
  height: 20px;
  padding: 13px 30px;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.25);
  color: var(--darkColor);
  filter: drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.25));
  width: 20px !important;
}
/********** CARDS ***********/
.cards-single--events {
  height: 231px;
  max-width: 400px;
  box-shadow: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.306764));
  border-radius: 6px;
}

/********** HEADER ***********/
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0px;
  background: var(--whiteAlt);
  z-index: 99;
  border: 1px solid transparent;
}

.header--wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  padding-left: 133px;
  padding-right: 133px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a:first-of-type {
  margin-right: 38px;
}

.nav-brand svg {
  height: 34px;
  width: auto;
}

.nav-brand {
  min-width: 100px;
}

/********** FOOTER ***********/

/********** PAGE***********/
.page-entry .page-entry--wrap {
  opacity: 0;
  visibility: hidden;
}

.page-entry {
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.page-entry.page--transition .page-entry--wrap {
  opacity: 1;
  transition: opacity 1s;
  visibility: visible;
}

.page-entry--wrap {
  min-height: calc(100vh - 70px);
}

.page--transition .page-preview {
  transform: translateY(0) !important;
  min-height: calc(100vh - 120px);
}

.page-preview {
  margin-top: 70px;
  padding: 63px 40px;
  transform: translateY(18px);
  transition: transform 0.8s;
}
.page--loader {
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 9999;
}

.page--loader img,
.page--loader svg {
  width: 230px !important;
  height: auto !important;
  margin-left: 23px;
}

.page-loader {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--whiteColor);
}

.page--transition .page-loader {
  display: none;
}

.page-layout---card {
  background: var(--whiteAlt);
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.page-layout---card h1 {
  margin-top: 70px;
}

/* Divider */
.divider {
  border: 0.5px solid #ccb7b1;
  width: 100%;
  max-width: 100%;
  margin: 0px !important;
}

/* Animations */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(18px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(18px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(18px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
}

/* EVENT */
.card-single--event {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.card-small {
  max-width: 450px;
  height: 253px;
}

.card-md {
  height: 449px;
  max-width: 470px;
}

.event-img--wrap {
  height: 231px;
  max-width: 100%;
  margin-right: 20px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.306764));
}

.card-event {
  width: 33.33333333%;
  margin-bottom: 30px;
}
.event-img--wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.event-content--wrap {
  margin-top: 19px;
}

.event-page--wrap {
  width: 100%;
  margin: auto;
}

.event-page--wrap > div {
  display: flex;
  margin: 0 auto;
}

.event-page--info,
.event-info--others {
  max-width: 50%;
  width: 50%;
  margin-top: 50px;
}

.event-info--others.left div:nth-child(1) {
  max-width: 370px;
  width: 370px;
}
.event-page--info.right {
  margin-left: 30px;
  width: 484px;
  min-width: 480px;
  max-height: 430px;
  height: 430px;
  margin-top: 0px !important;
}

.event-page--info.right img {
  width: 100%;
  height: 100%;
}
.event-info--others.right div:nth-child(1) {
  /* max-width: 370px;
  width: 370px; */
  margin-left: 10px;
}

/* PAYMENTS */
/* .close-button--wrap {
  margin
} */
.payments-page--wrap {
  height: 100%;
}
.ticket-wrap.left {
  background: var(--bodyColor);
  max-width: 60%;
  padding-top: 50px;
  width: 60%;
  padding-right: 100px;
  padding-left: 100px;
  /* margin-right: auto; */
  /* margin-left: auto; */
}
.ticket--price--wrap {
  margin-top: 80px;
}
.ticket--bordered {
  padding-bottom: 20px;
  border-bottom: 1px solid #bdbdbd;
  padding-top: 20px;
}

.order-summary--wrap {
  background: var(--whiteColor);
  width: calc(100% - 70%);
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
}
.order-total {
  margin-top: 150px;
  padding-top: 34px;
  border-top: 1px solid #bdbdbd;
}

/* No Tickets */
.ticket-form--wrap {
  max-width: 450px;
  margin: 80px auto !important;
  flex-direction: column;
  align-items: center;
}
.ticket-form--wrap h6 {
  max-width: 370px;
  text-align: center;
  margin-bottom: 13px;
}
.ticket-input--wrap {
  max-width: 386px;
}

/* Loading Events */

.form-loading {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  opacity: 0.8;
  pointer-events: none;
}

.form-loading span {
  opacity: 0;
  visibility: hidden;
}

.kuda-cta span {
  pointer-events: none;
}

.form-loading:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBzdHlsZT0ibWFyZ2luOiBhdXRvOyBiYWNrZ3JvdW5kOiBub25lOyBkaXNwbGF5OiBibG9jazsgc2hhcGUtcmVuZGVyaW5nOiBhdXRvOyIgd2lkdGg9IjIwMHB4IiBoZWlnaHQ9IjIwMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQiPgo8Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSIzMiIgc3Ryb2tlLXdpZHRoPSI4IiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS1kYXNoYXJyYXk9IjUwLjI2NTQ4MjQ1NzQzNjY5IDUwLjI2NTQ4MjQ1NzQzNjY5IiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHRyYW5zZm9ybT0icm90YXRlKDMxMS45NjcgNTAgNTApIj4KICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIGR1cj0iMC43MnMiIGtleVRpbWVzPSIwOzEiIHZhbHVlcz0iMCA1MCA1MDszNjAgNTAgNTAiPjwvYW5pbWF0ZVRyYW5zZm9ybT4KPC9jaXJjbGU+CjwhLS0gW2xkaW9dIGdlbmVyYXRlZCBieSBodHRwczovL2xvYWRpbmcuaW8vIC0tPjwvc3ZnPg==");
  background-size: 30px 30px;
}
