/* body */
:root {
  --primaryColor: #f5a623;
  --darkColor: #333333;
  --whiteColor: #ffffff;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  color: var(--textColor);
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* typography */
.text-md {
  font-size: 24px;
}
.text-xs {
  font-size: 14px;
  line-height: 28px;
}
.text-xxs {
  font-size: 12px;
}
.color-dark {
  color: var(--darkColor);
}
.color-dark--2 {
  color: #12122c;
}
.color-grey {
  color: #4f4f4f;
}
.color-grey--2 {
  color: #4a4a4a;
}
.color-grey--3 {
  color: #828282;
}
.color-primary {
  color: #f5a623;
}
.text-semi--bold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-xbold {
  font-weight: 800;
}
.text-xlbold {
  font-weight: 900;
}
.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: 400;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 2rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.42rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.32rem;
  line-height: 1.5;
}

h6 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/* container layouts */
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* buttons */
button {
  outline: none;
  border: 0;
}
.disabled {
  opacity: 0.73;
  pointer-events: none;
}
.button--primary {
  font-size: 14px;
  line-height: 0.8;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border-radius: 4px;
  justify-content: center;
  cursor: pointer;
  background: var(--primaryColor);
  color: var(--whiteColor);
  height: 50px;
  transition: transform 0.6s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.button--primary--md {
  font-size: 12.2px;
  padding: 11px 19px !important;
  height: 36.6px;
}
.button-round {
  background: var(--whiteColor);
  border-radius: 60px;
  height: 49px;
  padding: 13px 30px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.25);
  color: var(--darkColor);
}

/* cards */
.cards-single--events {
  height: 231px;
  max-width: 400px;
  box-shadow: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.306764));
  border-radius: 6px;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0px;
  background: var(--whiteAlt);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
  z-index: 99;
}

.header--wrap {
  max-width: 1500px;
  margin: 0 auto;
  display: block;
  padding-left: 60px;
  padding-right: 60px;
}

.nav--icon a,
.nav--icon p {
  display: flex;
  align-items: center;
  margin-right: 55px;
  color: var(--textColor);
  font-size: 0.875rem;
}

.nav--icon a span,
.nav--icon p span {
  display: flex;
}

.nav--icon:last-child a,
.nav--icon:last-child p {
  margin-right: 0;
  cursor: not-allowed;
}

.nav--icon svg {
  margin-right: 10px;
  width: 25px;
  height: auto;
}

.nav-brand svg {
  height: 34px;
  width: auto;
}

.kuda-brand,
.kuda-account {
  min-width: 100px;
}
/* footer */

/* others */
